@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/rose";
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";
@import "@catppuccin/palette/css/catppuccin.css"; /* node_modules/@catppuccin/palette/css/catppuccin.css */
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* system fonts */
    --stack-code:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono",
        monospace;
    --stack-industrial:
        Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Roboto", "Nimbus Sans",
        sans-serif-condensed, sans-serif;
    /* catppuccin latte */
    --ctp-crust: var(--ctp-latte-crust); /* catppuccin */
    --ctp-mantle: var(--ctp-latte-mantle); /* catppuccin */
    --ctp-base: var(--ctp-latte-base); /* catppuccin */
    --ctp-surface0: var(--ctp-latte-surface0); /* catppuccin */
    --ctp-surface1: var(--ctp-latte-surface1); /* catppuccin */
    --ctp-surface2: var(--ctp-latte-surface2); /* catppuccin */
    --ctp-overlay0: var(--ctp-latte-overlay0); /* catppuccin */
    --ctp-overlay0-rgb: var(--ctp-latte-overlay0-rgb); /* catppuccin */
    --ctp-overlay1: var(--ctp-latte-overlay1); /* catppuccin */
    --ctp-overlay1-rgb: var(--ctp-latte-overlay1-rgb); /* catppuccin */
    --ctp-overlay2: var(--ctp-latte-overlay2); /* catppuccin */
    --ctp-overlay2-rgb: var(--ctp-latte-overlay2-rgb); /* catppuccin */
    --ctp-subtext0: var(--ctp-latte-subtext0); /* catppuccin */
    --ctp-subtext1: var(--ctp-latte-subtext1); /* catppuccin */
    --ctp-text: var(--ctp-latte-text); /* catppuccin */
    --ctp-lavender: var(--ctp-latte-lavender); /* catppuccin */
    --ctp-blue: var(--ctp-latte-blue); /* catppuccin */
    --ctp-sapphire: var(--ctp-latte-sapphire); /* catppuccin */
    --ctp-sky: var(--ctp-latte-sky); /* catppuccin */
    --ctp-teal: var(--ctp-latte-teal); /* catppuccin */
    --ctp-green: var(--ctp-latte-green); /* catppuccin */
    --ctp-yellow: var(--ctp-latte-yellow); /* catppuccin */
    --ctp-peach: var(--ctp-latte-peach); /* catppuccin */
    --ctp-maroon: var(--ctp-latte-maroon); /* catppuccin */
    --ctp-red: var(--ctp-latte-red); /* catppuccin */
    --ctp-mauve: var(--ctp-latte-mauve); /* catppuccin */
    --ctp-pink: var(--ctp-latte-pink); /* catppuccin */
    --ctp-flamingo: var(--ctp-latte-flamingo); /* catppuccin */
    --ctp-rosewater: var(--ctp-latte-rosewater); /* catppuccin */
}
