@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/rose";
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@import "modern-normalize";
@import "@catppuccin/palette/css/catppuccin.css";

:root {
    overscroll-behavior: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* system fonts */
    --stack-code:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono",
        monospace;
    --stack-industrial:
        Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Roboto", "Nimbus Sans",
        sans-serif-condensed, sans-serif;
    /* catppuccin latte */
    --ctp-crust: var(--ctp-latte-crust);
    --ctp-mantle: var(--ctp-latte-mantle);
    --ctp-base: var(--ctp-latte-base);
    --ctp-surface0: var(--ctp-latte-surface0);
    --ctp-surface1: var(--ctp-latte-surface1);
    --ctp-surface2: var(--ctp-latte-surface2);
    --ctp-overlay0: var(--ctp-latte-overlay0);
    --ctp-overlay0-rgb: var(--ctp-latte-overlay0-rgb);
    --ctp-overlay1: var(--ctp-latte-overlay1);
    --ctp-overlay1-rgb: var(--ctp-latte-overlay1-rgb);
    --ctp-overlay2: var(--ctp-latte-overlay2);
    --ctp-overlay2-rgb: var(--ctp-latte-overlay2-rgb);
    --ctp-subtext0: var(--ctp-latte-subtext0);
    --ctp-subtext1: var(--ctp-latte-subtext1);
    --ctp-text: var(--ctp-latte-text);
    --ctp-lavender: var(--ctp-latte-lavender);
    --ctp-blue: var(--ctp-latte-blue);
    --ctp-sapphire: var(--ctp-latte-sapphire);
    --ctp-sky: var(--ctp-latte-sky);
    --ctp-teal: var(--ctp-latte-teal);
    --ctp-green: var(--ctp-latte-green);
    --ctp-yellow: var(--ctp-latte-yellow);
    --ctp-peach: var(--ctp-latte-peach);
    --ctp-maroon: var(--ctp-latte-maroon);
    --ctp-red: var(--ctp-latte-red);
    --ctp-mauve: var(--ctp-latte-mauve);
    --ctp-pink: var(--ctp-latte-pink);
    --ctp-flamingo: var(--ctp-latte-flamingo);
    --ctp-rosewater: var(--ctp-latte-rosewater);
}
